
.alignCenter{
    text-align:center;
}

.charts{
    display: flex;
}
.charts div {
    width: 50%;
}
@media screen and (max-width: 700px) {
    .charts{
        display: block;
    }
    .charts div {
        width: 100%;
    }  
}