.title{
    margin-left: 15px;
    margin-top:10px;
    color: #695506e6;
}

.mat-toolbar.mat-primary{
    background: ghostwhite;
    box-shadow: 2px 1px 2px 2px;
    color: #ddd;
}

.rightAlign{
    position: absolute;
    right: 50px;
}