<h2 style="text-align:center">Updates For today</h2>

 
<form class="mgl50">
  <mat-form-field >
    <input matInput placeholder="Order Cancelled" value="0">
  </mat-form-field>
  <button class="mg20" mat-raised-button>Update</button>
</form>

<form class="mgl50">
  <mat-form-field >
    <input matInput placeholder="Order Delievered" value="0">
  </mat-form-field>
  <button class="mg20" mat-raised-button>Update</button>
</form>

<form class="mgl50">
  <mat-form-field >
    <input matInput placeholder="Order Not Delievered" value="0">
  </mat-form-field>
  <button class="mg20" mat-raised-button>Update</button>
</form>

<form class="mgl50">
  <mat-form-field >
    <input matInput placeholder="Existing Customer" value="0">
  </mat-form-field>
  <button class="mg20" mat-raised-button>Update</button>
</form>


<form class="mgl50">
  <mat-form-field >
    <input matInput placeholder="New Customer" value="0">
  </mat-form-field>
  <button class="mg20" mat-raised-button>Update</button>
</form>